<section id="newRental">
    <div class="bwm-form">
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-title">Create Rental</h1>
          <form #rentalForm="ngForm">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text"
                     class="form-control"
                     id="title"
                     name="title"
                     [(ngModel)]="newRantal.title"
                     required
                     >
            </div>
  
            <div class="form-group">
              <label for="city">City</label>
              <input type="text"
                     class="form-control"
                     id="city"
                     name="city"
                     [(ngModel)]="newRantal.city"
                     required
                     >
            </div>
  
            <div class="form-group">
              <label for="street">Street</label>
              <input type="text"
                     class="form-control"
                     id="street"
                     name="street"
                     [(ngModel)]="newRantal.street"
                     required
                     >
            </div>
  
            <div class="form-group">
              <label for="category">Category</label>
  
              <select class="form-control"
                      id="category"
                      name="category"
                     [(ngModel)]="newRantal.category"
                     required
                      >
                <option *ngFor="let caterory of rentalCategories"> {{caterory | uppercase}} </option>
              </select>
            </div>
  
            <div class="form-group">
              <label for="image">Image</label>
              <input type="file"
                     name="image"
                     class="form-control"
                     id="image"
                     placeholder="Upload file..."
                     (change)="changeImageHandler()"
                     required
                     >
            </div>
  
            <div class="form-group">
              <label for="bedrooms">Bedrooms</label>
              <input type="number"
                     class="form-control"
                     id="bedrooms"
                     name="bedrooms"
                     [(ngModel)]="newRantal.bedrooms"
                     required
                     >
            </div>
  
            <div class="form-group">
              <label for="description">Description</label>
              <textarea rows="5"
                        type="text"
                        class="form-control"
                        id="description"
                        name="description"
                        [(ngModel)]="newRantal.description"
                        required
                        >
              </textarea>
            </div>
  
            <div class="form-group">
              <label for="dailyRate">Daily Rate</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number"
                       name="dailyRate"
                       class="form-control"
                       id="dailyRate"
                       name="dailyRate"
                       [(ngModel)]="newRantal.dailyRate"
                       required
                       >
              </div>
            </div>
  
            <div class="form-group">
              <label for="shared" id="sharedLabel">Shared</label>
              <input type="checkbox"
                     class="form-control"
                     id="shared"
                     name="shared"
                     [(ngModel)]="newRantal.shared"
                     >
            </div>
            <button [ngClass]="{'isDisabled':rentalForm.form.invalid}" [disabled]="rentalForm.form.invalid" (click)="createRental()" class="btn btn-bwm">Submit</button>
          </form>
          <div class="alert alert-danger modal-error" *ngIf="errors.length > 0 ">
            <p *ngFor="let error of errors">
              {{error.detail}}
            </p>
          </div>
        </div>
        <div class="col-md-6 ml-auto">
          <div class="image-container">
            <h2 class="catchphrase">Hundreds of awesome places in reach of few clicks.</h2>
            <img src="assets/images/create-rental.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  